<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Need this for JuicyAds site verification */}}
        <meta name="juicyads-site-verification" content="fb19097fa687d6d30d4510288a4cc96c">
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here are our fullcalendar files */}}
        <link href="static/fullcalendar-5.10.0/lib/main.css" rel="stylesheet" />
        <script src="static/fullcalendar-5.10.0/lib/main.js"></script>
        <script src="static/js/fullcalendar.js"></script>
        {{/* Here is our Javascript or additional code needed */}}
        <script>
            /* Manage Full Calendar */
            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
                });
                calendar.render();
                console.log("Initialize Calender");
            });
        </script>
    </head>
    <body>
        {{/* Here is our header */}}
        
        <p>Google Login</p>
        

        <div id='calendar'></div>
        
        {{/* Here is our footer */}}
    </body>
</html>